src/main/mule/timemanagement.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	<flow name="timemanagementFlow" doc:id="eebac73c-6698-45b5-85ea-7a38fe86f6a2" >
		<scheduler doc:name="Scheduler" doc:id="958ac6a6-5bee-40cc-8478-7afe2e19f6c0" >
			<scheduling-strategy >
				<fixed-frequency frequency="2" timeUnit="MINUTES"/>
			</scheduling-strategy>
		</scheduler>
		<logger level="INFO" doc:name="Logger" doc:id="8c8a2710-cb89-4acb-8cfb-365fcb638f3a" message="Time is "/>
		<logger level="INFO" doc:name="Logger" doc:id="78bc4b21-c108-49c9-9959-a37dfc6258e6" message="#[now()]"/>
	</flow>
</mule>
